.v-window-x-transition-enter,
.v-window-x-transition-leave-to
    opacity: 0 !important;
    
.v-window-x-transition-leave, 
.v-window-x-transition-leave-to
    right: 0
    height: 100%

.v-window-x-reverse-transition-leave, 
.v-window-x-reverse-transition-leave-to
    left: 0
    height: 100%
    
.dialog-move-transition
    &-enter-active, &-leave-active
        transition: 0.18s cubic-bezier(0, 0, 0, 1)
        
    &-enter, &-leave-to
        transform: translateX(100%)

.line-height1
    line-height: 1 !important

.v-application--is-ltr .v-list-item__avatar:first-child
    margin-right: 16px

.v-application
    .v-background__auth
        &::before
            background: rgba(99, 99, 99, 0.18)
            position: absolute
            content: ''
            display: block
            top: 0
            left: 0
            height: 100%
            width: 100%
            z-index: 0

        > .v-responsive__content
            position: relative
            z-index: 1

.v-content 
    &__wrap
        z-index: 1
        overflow: hidden

.v-alert
    user-select: none

.v-dialog
    background: white

.v-dialog:not(.v-dialog--fullscreen)
    background: transparent
    box-shadow: none

.layout
    max-width: 100%

.v-list--two-line 
    .v-list-item
        .v-list-item__icon
            margin-bottom: 16px

            .v-icon
                height: 40px
        
.v-data-table tfoot td
    border-top: 1px solid rgba(0, 0, 0, 0.36)

.print-area
    .v-data-table th
        font-size: 8px
        padding: 0 8px
    
    .v-data-table td
        font-size: 8px
        padding: 0 8px
    
    .v-data-table tr.thead-title th
        height: 16px
        text-align: center

    .v-data-table--dense thead tr:last-child th
        height: 16px

    .theme--light.v-data-table 
        thead tr.field th
            border-left: 1px solid rgba(0, 0, 0, 0.6)
            border-top: 1px solid rgba(0, 0, 0, 0.6)
            border-bottom: 1px solid rgba(0, 0, 0, 0.6)

        thead tr.field th:last-child
            border-right: 1px solid rgba(0, 0, 0, 0.6)

        thead tr:last-child th
            border-left: 1px solid rgba(0, 0, 0, 0.6)
            border-bottom: 1px solid rgba(0, 0, 0, 0.6)

        thead tr:last-child th:last-child
            border-right: 1px solid rgba(0, 0, 0, 0.6)
        
        tbody tr td:not(.v-data-table__mobile-row)
            border-left: 1px solid rgba(0, 0, 0, 0.6)
            border-bottom: 1px solid rgba(0, 0, 0, 0.6)

        tbody tr td:not(.v-data-table__mobile-row):last-child
            border-right: 1px solid rgba(0, 0, 0, 0.6)