.pagesplit {
    display: block;
    position: relative;
    page-break-after: always;
    page-break-inside: avoid;
    margin-top: 44mm;
    margin-left: 10mm;
    margin-right: 10mm;
}

.pagesplit table tr td {
    vertical-align: baseline;
    min-height: 18px;
    padding: 0px;
    font-size: 14.5px;
}

.pagesplit table.sk-ttd tr td {
    text-align: center;
    min-height: 6px;
}

.pagesplit table tr td img {
    height: 72px;
    width: auto;
}

.align-center {
    text-align: center;
}

.sk-tagline {
    width: 128px;
}

.sk-delimiter {
    width: 12px;
}

.text-justify {
    text-align: justify;
}